/* styl.css */
html {
  font-size: 14px; }

body {
  padding: 0 10px; }

#calc {
  width: 200px;
  margin: 0 auto;
  padding: 0em;
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
  background-color: #f8ff40;
  border-style: solid; }

#units td {
  border-bottom: 1px solid #EEE; }

.wraking {
  padding: 0px;
  background-color: #d9d1ff;
  height: 10px;
  width: 1000px;
  display: none; }

.rowdata:after, #testlink:after {
  content: ' ';
  display: block;
  height: 0;
  width: 0;
  clear: both; }

.value {
  font-size: 1.5rem;
  line-height: 1;
  width: 100px;
  float: left; }

.code {
  font-size: 75%;
  margin-left: 100px; }

.title {
  font-size: 110%;
  text-align: center;
  font-weight: 700;
  background-color: #EEE; }

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  transition: height 0.35s ease; }
  .collapse.in {
    height: auto; }

#verticalStrut {
  position: absolute;
  top: 0;
  left: 0;
  height: 150%;
  width: 1px;
  visibility: hidden;
  display: none; }

#horizontalStrut {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 1px;
  visibility: hidden;
  display: none; }

#staticDiv {
  background: lightgreen;
  height: 2em;
  text-align: right;
  margin: 0;
  padding: 0;
  border: 0; }

#static100Div {
  background: lightgray;
  width: 100%;
  height: 2em;
  text-align: right;
  margin: 0;
  padding: 0;
  border: 0; }

#fixedDiv {
  position: fixed;
  left: 0;
  bottom: 1em;
  background: gold;
  height: 2em;
  width: 100%;
  text-align: right;
  margin: 0;
  padding: 0;
  border: 0; }

#testlink {
  font-size: 12px; }

#testlink__value {
  display: none; }

#testlink__one {
  float: left;
  width: 33%; }

#testlink__two {
  float: left;
  width: 33%; }

#testlink__three {
  float: left;
  width: 33%; }
