//- __mixins.jade

mixin head
    title Viewport Dimensions
    meta(charset='utf-8')

    //- meta(name='viewport', content='width=1500')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='assets/bootstrap.css')
    link(rel='stylesheet', href='assets/styl.css')

mixin th(value)
    .title= value
    //- tr
        th(colspan='3')= value

mixin null(value)
    .rowdata
        .value &lt;null&gt;
        .code= value
            block

mixin test-units
    #units
        //- +th('“Layout viewport” width: how big is a width:100% element?')
        +th('“Layout viewport” width: 100%')
        +null('jQuery(window).width()')
        +null('document.documentElement.clientWidth')
        +null('document.body.clientWidth')
        if use_divs
            +null('document.getElementById("staticDiv").clientWidth')
            +null('document.getElementById("static100Div").clientWidth')
            +null('document.getElementById("fixedDiv").clientWidth')

        +th('“Visual viewport” width')
        +null('window.innerWidth')
        +null('window.outerWidth')

        +th('Document width: scrolling width of document')
        +null('jQuery(document).width()')
        +null('document.width')

        +th('other')
        +null //
            a(data-toggle='collapse', data-target='#inner-scrollbar-width', href='', onclick='return false') scrollbar width for overflow:scroll divs
            #inner-scrollbar-width.collapse(style='height: 0px;')
                | var outerDiv = document.createElement('div');
                | outerDiv.style.width = outerDiv.style.height = '500px';  // enough for all the scrollbars
                | var div = outerDiv;
                | for (var i = 0; i < 10; ++i) {
                | var child = document.createElement('div');
                | child.style.overflowY = 'scroll';
                | div.appendChild(child);
                | div = child;
                | }
                | document.body.appendChild(outerDiv);
                | var outerDivWidth = outerDiv.clientWidth;
                | var innerDivWidth = div.clientWidth;
                | var scrollbarWidthCss = (outerDivWidth - innerDivWidth)/10;
                | document.body.removeChild(outerDiv);
                | return scrollbarWidthCss;
        +null // 
            a(data-toggle='collapse', data-target='#min-device-width', href='', onclick='return false') measure @media(min-device-width)
            #min-device-width.collapse(style='height: 0px;')
                | DetectZoom.mediaQueryBinarySearch("min-device-width", "px", 0, 6000, 20, .0001)
        +null // 
            a(data-toggle='collapse', data-target='#min-width', href='', onclick='return false') measure @media(min-width)
            #min-width.in.collapse(style='height: auto;')
                | DetectZoom.mediaQueryBinarySearch("min-width", "px", 0, 6000, 20, .0001)
        +null('window.devicePixelRatio')
        +null('screen.deviceXDPI')
        +null('screen.systemXDPI')
        +null('screen.logicalXDPI')
        +null // 
            a(data-toggle='collapse', data-target='#min--moz-device-pixel-ratio', href='', onclick='return false') measure @media(min--moz-device-pixel-ratio)
            #min--moz-device-pixel-ratio.collapse DetectZoom.mediaQueryBinarySearch("min--moz-device-pixel-ratio", "", 0, 10, 20, .0001)

mixin test-fontsize
    +th('fontsize')
    #testlink
        #testlink__value linkexample
        #testlink__one &lt;null&gt;
        #testlink__two &lt;null&gt;
        #testlink__three &lt;null&gt;
    script.

mixin test-divs
    #verticalStrut
    #horizontalStrut
    #staticDiv staticDiv: just a div
    #static100Div static100Div: div with width:100%
    #fixedDiv fixedDiv: div with position:fixed;width:100%

mixin test-forces
    div
        label
            input(type='checkbox', data-action="jQuery('#verticalStrut').toggle(this.checked);")
            | Force vertical scrollbars
    div
        label
            input(type='checkbox', data-action="jQuery('#horizontalStrut').toggle(this.checked);")
            | Force horizontal scrollbars
    div
        label
            input(type='checkbox', data-action="document.body.style.margin = this.checked ? 0 : '';")
            | body {margin:0}
    div
        label
            input(type='checkbox', data-action='window.shouldRound = this.checked ? true : false;', checked='')
            | Round to nearest 1/100

