extends __layout.jade
block content
    .wraking
    button#calc calc
    - var use_divs = false
    +test-fontsize
    +test-units
    if use_divs
        +test-divs
    script(src='assets/detect-zoom.js')
    script(src='assets/jquery-1.7.2.js')
    if use_divs
        +test-forces
    script(src='assets/bootstrap-transition.js')
    script(src='assets/bootstrap-collapse.js')
    script(src='assets/bottom.js')
