/* styl.css */
@import '../../d3k.sass'

td:nth-child(2)
  // white-space: pre-wrap
html
  font-size: 14px
body
  // margin:0;
  padding: 0 10px
  // font-size: 14px
  // padding-bottom: 500px
  // padding-right: 500px

#calc
  width: 200px
  margin: 0 auto
  padding: 0em
  font-size: 1.5em
  display: block
  margin-bottom: 10px
  +bg(#f8ff40)
  border-style: solid

#units
  tr
  td
    border-bottom: 1px solid #EEE

.wraking
  padding: 0px
  +bg(#d9d1ff)
  height: 10px;
  width: 1000px;
  display: none

%clear
  content: ' '
  display: block
  height: 0
  width: 0
  clear: both

.rowdata
  &:after
    @extend %clear

.value
  font-size: 1.5rem
  line-height: 1
  width: 100px
  float: left

.code
  // width: 1400px
  font-size: 75%
  margin-left: 100px

.title
  font-size: 110%
  text-align: center
  font-weight: 700
  +bg(#EEE)

.collapse
  position: relative
  height: 0
  overflow: hidden
  +transition(height 0.35s ease)
  &.in
    height: auto

#verticalStrut
  position: absolute
  top: 0
  left: 0
  height: 150%
  width: 1px
  visibility: hidden
  display: none

#horizontalStrut
  position: absolute
  top: 0
  left: 0
  width: 150%
  height: 1px
  visibility: hidden
  display: none

#staticDiv
  background: lightgreen
  height: 2em
  text-align: right
  margin: 0
  padding: 0
  border: 0

#static100Div
  background: lightgray
  width: 100%
  height: 2em
  text-align: right
  margin: 0
  padding: 0
  border: 0

#fixedDiv
  position: fixed
  left: 0
  bottom: 1em
  background: gold
  height: 2em
  width: 100%
  text-align: right
  margin: 0
  padding: 0
  border: 0

#testlink
  font-size: 12px
  &:after
    @extend %clear
#testlink__value
  display: none
#testlink__one
  float: left
  width: 33%
#testlink__two
  float: left
  width: 33%
#testlink__three
  float: left
  width: 33%

